body {
    background-color: rgba(24, 24, 24, 1);
    font-family: Helvetica, Arial, sans-serif;
    color: white;
}

.slider-container {
    width: 800px;
    margin: 100px auto 0;
}
.slider-container .slider-viewport {
    width: 800px;
    border-radius: 10px;
    display: flex;

    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}
.slider-container .slider-viewport .slide {
    min-width: 800px;
    width: 800px;
    height: 500px;
    border-radius: 10px;
    box-sizing: border-box;
    
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    scroll-snap-align: start;
}
.slider-container .slider-viewport .slide:nth-child(1) {
    background-color: aqua;
}
.slider-container .slider-viewport .slide:nth-child(2) {
    background-color: rgb(49, 77, 77);
}
.slider-container .slider-viewport .slide:nth-child(3) {
    background-color: red;
}
.slider-container .slider-viewport .slide:nth-child(4) {
    background-color: rgb(128, 64, 64);
}
.slider-container .slider-viewport .slide:nth-child(5) {
    background-color: rgb(14, 109, 35);
}

.slider-container .actions {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.slider-container .actions a{
    background-color: rgb(17, 54, 25);
    padding: 15px 25px;
    border-radius: 10px;
    text-decoration: none;
    color: #39B54A;
    font-weight: bolder;
}
.slider-container .actions a:hover {
    color: green;
    background-color: rgb(25, 80, 37);
    box-shadow: 0 0 5px rgb(14, 109, 35);

    transition: 
    background-color 0.3s ease-in-out, 
    box-shadow 0.3s ease-in-out;
}